body {
    margin: 0 auto;
}

#loading-block{
    margin: 0 auto;
}

.vertical-center{
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.server-health-positive{
    margin: 0 auto;

}

.server-health-negative{
    margin: 0 auto;
}